<div *ngIf="ticketMachines">
  <p-table [value]="ticketMachines" dataKey="id">
    <ng-template
      pTemplate="body"
      let-machine
      let-expanded="expanded"
      let-i="rowIndex"
    >
      <tr>
        <td>
          <button
            type="button"
            pButton
            pRipple
            [pRowToggler]="machine"
            class="p-button-text p-button-rounded p-button-plain"
            [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"
          ></button>
        </td>
        <td
          [ngStyle]="{ color: checkDevices(machine) }"
          class="tab__ticket-machine"
        >
          Biletomat {{ i + 1 }}
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="rowexpansion" let-machine>
      <div class="tab__expansion">
        <div *ngFor="let device of machine.devices">
          <app-device [device]="device"></app-device>
        </div>
      </div>
    </ng-template>
  </p-table>
</div>

<div *ngIf="computer">
  <div>
    <app-device [device]="computer"></app-device>
  </div>
</div>
