<p-table [value]="tableData" [rowHover]="true" class="table">
  <ng-template pTemplate="caption">
    <div class="table-header">Lista pojazdów</div>
  </ng-template>
  <ng-template pTemplate="header">
    <tr>
      <th>Numer</th>
      <th>Typ Pojazdu</th>
      <th>Status</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-vehicle>
    <tr class="table__row" (click)="onVehicleSelection(vehicle)">
      <td>{{ vehicle.number }}</td>
      <td>
        <img
          class="table__row-icon"
          [src]="assignVehicleIcon(vehicle.type)"
          [alt]="vehicle.type"
        />
        {{ vehicle.type }}
      </td>
      <td>{{ vehicle.status }}</td>
    </tr>
  </ng-template>
</p-table>
